.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  padding: 3px 20px;
  border: rgb(218, 141, 7) 2px solid;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: transparent;
  transition: 0.2s;
  gap: 5px;
}

.button:hover {
  border: rgb(255, 162, 0) 2px solid;
  transform: scale(1.03);
}

.active{
  border: rgb(255, 162, 0) 2px solid;
  background-color: rgba(255, 162, 0, 0.199);
  transform: scale(1.01);
}

