.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  padding: 3px 20px;
  border: rgb(218, 141, 7) 2px solid;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.button:hover {
  border-color: rgb(218, 141, 7);
  transform: scale(1.02);
}

.active,
.active:hover {
  background-color: #d93b18;
}