form{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

label {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}