.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 0;
}


.category{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.category h3{
  font-weight: 800;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px;
  width: 100%;
  height: auto;
  border: rgb(218, 141, 7) 2px solid;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(208, 2, 245, 0.2);
  transition: 0.5s;
}

.intense {
  box-shadow: 0 0 10px rgb(218, 141, 7);
}


.description{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 6px;
}

.descriptionText{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  font-weight: 100;
}

.Button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.customButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.redButton {
  color: rgba(255, 0, 0, 0.578);
  opacity: 0.6;
  transition: 0.3s
}

.redbutton:hover{
  opacity: 1;
}

.greenButton{
  color: rgba(157, 255, 11, 0.753);
  opacity: 0.6;
  transition: 0.3s;
}

.greenButton:hover{
  opacity: 1;
}
