.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.logo{
  width: 200px;
}

.Subcontainer{
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  gap: 20px;
}
